{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}
<!-- page for registry -->
{% block main %}
<img src="{{ url_for('static', filename='Chefs.png') }}" alt="App Logo" width="250" height="auto">
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
<br>
    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}
{% endblock %}