{% extends "layout.html" %}

{% block title %}
{{ recipe }}
{% endblock %}
<!-- page to show selected recipe (random) and ingredients -->
{% block main %}
<div class="section">
    <img src="{{ url_for('static', filename='Chefs.png') }}" alt="App Logo" width="250" height="auto">
    <h1>You are going to eat: {{ recipe }}!</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td>{{ data.ingredient_name }}</td>
                <td>{{ data.quantity }}</td>
                <td>{{ data.unit}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
            <form action="/selector" method="post">
            <button class="btn btn-green" type="submit" name="action" value="another">Another?</button>
            </form>
</div>
{% endblock %}